.container_content{
    width: 100%;
    height: 80%;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 105px;
    grid-gap: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.content_img img{
    width: 150px;
    height: 150px;
}