.container_header{
    width: 100vw;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,152,219,1) 13%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 50px;
    padding-right: 50px;
}

.icons_home {
    font-size: 50px;
    color: white;
}

.icons_user {
    font-size: 50px;
    color: white;
}

.container_header img{
    width: 140px;
    height: 100px;
}